<div>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-4 mb-4">
            <label for="inputPelicula">Id de la Reservacion</label>
            <input 
            formControlName="idReservacion" 
            type="text" 
            class="form-control" 
            id="inputPelicula" 
            placeholder="ID" />
        </div>

        <button type="submit" class="btn btn-primary">Eliminar</button>

        @if (reservacionEliminada) {
        <div class="alert alert-success mt-4" role="alert">
            Reservación eliminada con éxito
        </div>
        }
    </form>
</div>