<div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inputPelicula">Nombre</label>
                <input type="text" class="form-control" id="inputPelicula" placeholder="Nombre">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inputPelicula">Precio</label>
                <input type="number" class="form-control" id="inputPelicula" placeholder="Precio">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>