<div _ngcontent-ng-c2492414721="" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 _ngcontent-ng-c2492414721="" style="margin-top: 10px;" class="h2">Carteleras</h1>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Ubicación Cine</th>
        <th>Pelicula</th>
        <th>Fecha Inicio</th>
        <th>Fecha Final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartelera of carteleras">
        <td>{{cartelera.idPeliculaCartelera}}</td>
        <td>{{cartelera.nombreUbicacion}}</td>
        <td>{{cartelera.nombrePelicula}}</td>
        <td>{{cartelera.fechaInicio | date}}</td>
        <td>{{cartelera.fechaFinal | date}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <button class="btn" (click)="previousPage()" [disabled]="page === 1">Anterior</button>
  <span>Página {{ page }}</span>
  <button class="btn" (click)="nextPage()">Siguiente</button>
</div>
