<div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inputPelicula">Nombre</label>
                <input type="text" class="form-control" id="inputPelicula" placeholder="Nombre">
            </div>
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inputPelicula">Ciudad</label>
                <input type="text" class="form-control" id="inputPelicula" placeholder="Ciudad">
            </div>
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inputPelicula">Documento de identidad</label>
                <input type="number" class="form-control" id="inputPelicula" placeholder="Documento">
            </div>
            <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
                <label for="inpuFechaIni">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="inputFechaNac">
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
