
<div>
  <form>
      <div class="form-row">
          <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
              <label for="inputCine">IidUbicacion</label>
              <input type="Cine" class="form-control" id="inputCine" placeholder="Id Cine">
          </div>
          <div class="form-group col-md-4 mb-4"> <!-- Solo margen inferior -->
              <label for="inputPelicula">nombreCine</label>
              <input type="Pelicula" class="form-control" id="inputPelicula" placeholder="Id Pelicula">
          </div>
      </div>      
      <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>

