<div>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4 mb-4">
          <label for="client">Id del Cliente</label>
          <input
            formControlName="idCliente"
            type="number"
            class="form-control"
            id="idCliente"
            placeholder="Id del cliente"
          />
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="silla">Id de la silla</label>
          <input
            formControlName="idSilla"
            type="nmber"
            class="form-control"
            id="idSilla"
            placeholder="Id de la silla"
          />
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="horario">Id del horario</label>
          <input
            formControlName="idHorario"
            type="number"
            class="form-control"
            id="idHorario"
            placeholder="Id del horario"
          />
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="precio">Precio</label>
          <input
            formControlName="precio"
            type="number"
            class="form-control"
            id="precio"
            placeholder="Precio de la reservación"
          />
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Crear</button>
  
      <div>
        @if (idNewReservacion) {
        <p>
          Reserva creada con id:
          <strong>{{ idNewReservacion }}</strong>
        </p>
        }
      </div>
    </form>
  </div>
  